
	<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="300" data-saveperformance="off"
							data-title="Rocket Elevators">
							<!-- MAIN IMAGE -->
							<img src="/assets/RE/slider2.jpg" alt="cover image" data-bgposition="center top"
								data-bgfit="cover" data-bgrepeat="no-repeat">
			
							<div class="overlay dark-4">
							</div>
			
							<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100" data-speed="500"
								data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none"
								data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Bringing you to the next <br />
								Level
							</div>
			
							<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
								data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
								data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								Where sky is the <br />
								LIMIT!
							</div>
			
							<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500"
								data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1"
								data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
								<a class="btn btn-primary btn-lg scrollTo" href="#services">OUR SERVICES &nbsp; <i
										class="fa fa-angle-right"></i></a>
							</div>
			<hr>
							<div class="tp-caption sfb tp-resizeme" data-x="250" data-y="410" data-speed="500" data-start="1500"
								data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
								data-endelementdelay="0.1" data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-default btn-lg" href="/quotes">GET A QUOTE &nbsp; <i
										class="fa fa-angle-right"></i></a>
							</div>
						</li>
			
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
							data-title="Residential Building">
							<!-- MAIN IMAGE -->
							<img src="/assets/RE/slider_r.jpg" alt="cover image" data-bgposition="center top"
								data-bgfit="cover" data-bgrepeat="no-repeat">
			
							<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="471" data-y="100" data-speed="400"
								data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none"
								data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Residential Buildings
							</div>
			
							<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="530" data-y="195"
								data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								We can even elevate you at home! <br />
								Our team is the best in this field.
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="665" data-y="300"
								data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-primary btn-lg" href="residential"> READ MORE &nbsp; <i
										class="fa fa-angle-right"></i></a>
							</div>
						</li>
			
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off"
							data-title="Commercial Buildings">
							<!-- MAIN IMAGE -->
							<img src="/assets/RE/Slider_c.jpg" alt="cover image" data-bgposition="center top"
								data-bgfit="cover" data-bgrepeat="no-repeat">
			
							<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="471" data-y="100" data-speed="400"
								data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none"
								data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Commercial Buildings
							</div>
			
							<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="530" data-y="195"
								data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								Specialised design <br />
								for businesses.
							</div>
			
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="665" data-y="300"
								data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-primary btn-lg" href="commercial">READ MORE &nbsp; <i
										class="fa fa-angle-right"></i></a>
							</div>
						</li>
			
						</li>
			
					</ul>
			
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->

			<hr class="m-0" /><!-- 1px line separator -->

			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-blue fs-20 fullwidth m-0 rad-0 p-15 scrollTo">
				<span class="font-lato fs-20">
					Did Rocket Elevators convince you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">
					<div class="row">
						
						<!--Awards-->
						<div class="col-sm-4">

							<img class="img-fluid" src="/assets/RE/awards.jpg" alt="img" />
							<h3 class="mt-10">Porfolio</h3>
							<p>We've been working very hard with our clients to achieve all kinds of awards and work on big project design. </br></p>
							<a href="#porfolio" class="btn btn-default scrollTo">SEE MORE</a>
						</div>
						
						<!--Residential-->
						<div class="col-sm-4">

							</a-->
							<img class="img-fluid" src="/assets/RE/Residence_serv.jpg" alt="img" />
							<h3 class="mt-10">Residential Buildings</h3>
							<p>We offer residential labor regarding community and shared buildings such as condos, libraries, mansions, etc.</p>
							<a href="residential" class="btn btn-default">MORE INFO</a>
						</div>

						<!--commercial-->
						<div class="col-sm-4">
							<img class="img-fluid" src="/assets/RE/corporate_serv2.jpg" alt="img" />
							<h3 class="mt-10">Commercial Buildings</h3>
							<p>Top-of-the-range elevator system for all high-rise markets worldwide. Discover smarter solutions for your building's entire life cycle.</p>
							<a href="commercial" class="btn btn-default">MORE INFO</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('/assets/RE/banner.jpg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Design &amp; Elevate Since 1976</h2>
						<a class="btn btn-default btn-lg" href="/quotes">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-primary btn-lg scrollTo" href="#services">OUR SERVICES <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="porfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Porfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="Residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="Commercial" class="filter"><a href="#">Commercial</a></li>
							<li data-filter="Prototype" class="filter"><a href="#">Prototype</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix Commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator1.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator1.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model C200</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix Residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator2.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator2.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model R100</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator3.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator3.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model C400</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>
								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator4.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator4.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model C350</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Prototype"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator5.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator5.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>P-2021#1</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Prototype</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator6.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator6.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model R250</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Commercial"><!-- item -->


								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator7.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator7.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model C360</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Prototype"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator8.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator8.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>P-2021#2</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Prototype</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix Residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator9.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator9.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model R250</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator10.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator10.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model R320</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator11.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator11.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model C600</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix Residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/RE/Porfolio/elevator12.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>

										<img class="img-fluid" src="/assets/RE/Porfolio/elevator12.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Model R400</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section id="team" class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div id="CEO" class="testimonial">
							<figure>
								<img class="rounded" src="/assets/RE/CEO.jpg" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Thanks to our clients for the Loyalty. We won't let you down!</p>
								<cite>
									Mathieu LeFrancois
									<span>CEO - Rocket Elevators</span>
								</cite>
							</div>
						</div>
						<div if="employee" class="testimonial">
							<figure>
								<img class="rounded" src="/assets/RE/employee-of-the-month.jpg" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">You gotta keep them elevating!</p>
								<cite>
									Maxime Auger
									<span>Employee of the month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<!--News 1-->
						<div class="img-hover">
							<a href="https://canada.constructconnect.com/dcn/news/ohs/2020/12/repair-worker-injury-results-in-conviction-for-elevator-company" target="_blank">
								<img class="img-fluid" src="https://cc-production-uploads-bucket.s3.amazonaws.com/uploads/2017/11/Government_04-1024x576.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://canada.constructconnect.com/dcn/news/ohs/2020/12/repair-worker-injury-results-in-conviction-for-elevator-company" target="_blank"></a>Daily Commercial News</a></h4>
							<p class="text-left">Repair worker injury results in conviction for elevator company.</p>
						</div>
						<!--News 2-->
						<div class="img-hover">
							<a href="https://www.bxtimes.com/mta-completes-ada-elevator-.installation-at-gun-hill-rd-station" target="_blank">
								<img class="img-fluid" src="https://www.bxtimes.com/wp-content/uploads/2021/01/20210107_131841-1200x583.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.bxtimes.com/mta-completes-ada-elevator-installation-at-gun-hill-rd-station/" target="_blank"></a>Bronx Times</a></h4>
							<p class="text-left">MTA completes ADA elevator installation at Gun Hill Rd Station.</p>
						</div>
						<!--News 3-->
						<div class="img-hover">
							<a href="https://www.mccourier.com/global-service-elevator-market-growth-graph-to-demonstrate-inclination-towards-positive-axis-by-2026" target="_blank">
								<img class="img-fluid" src="https://www.mccourier.com/wp-content/uploads/2020/12/market-research-store7.jpg.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.mccourier.com/global-service-elevator-market-growth-graph-to-demonstrate-inclination-towards-positive-axis-by-2026" target="_blank"></a>Mccourier</a></h4>
							<p class="text-left">Global Service Elevator Market Growth Graph To Demonstrate Inclination Towards Positive Axis By 2026</p>
						</div>
						<!--News 4-->
						<div class="img-hover">
							<a href="https://torontosun.com/life/relationships/ask-amy-elevator-rider-worries-covid-is-going-up">
								<img class="img-fluid" src="https://smartcdn.prod.postmedia.digital/torontosun/wp-content/uploads/2020/12/GettyImages-1214537961-scaled-e1608158587398.jpg?quality=90&strip=all&w=1128&type=webp" target="_blank">
							</a>

							<h4 class="text-left mt-20"><a href="https://torontosun.com/life/relationships/ask-amy-elevator-rider-worries-covid-is-going-up" target="_blank"></a>Toronto Sun</a></h4>
							<p class="text-left">ASK AMY: Elevator rider worries COVID is ‘going up</p>
						</div>
						<!--News 5-->
						<div class="img-hover">
							<a href="https://pagesix.com/2020/12/30/chris-cuomo-caught-flexing-his-muscles-in-the-elevator" target="_blank">
								<img class="img-fluid" src="https://pagesix.com/wp-content/uploads/sites/3/2020/12/chris-cuomo-1.jpg?quality=90&strip=all&w=1236&h=820&crop=1" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://pagesix.com/2020/12/30/chris-cuomo-caught-flexing-his-muscles-in-the-elevator" target="_blank">Page Six</a></h4>
							<p class="text-left">Chris Cuomo caught flexing his muscles in the elevator</p>
						</div>
						<!--News 6-->
						<div class="img-hover">
							<a href="https://www.bizjournals.com/dallas/news/2020/12/17/align-add-on-company.html" target="_blank">
								<img class="img-fluid" src="https://media.bizj.us/view/img/11925151/acp-steve-dyke*750xx1197-1600-199-0.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.bizjournals.com/dallas/news/2020/12/17/align-add-on-company.html" target="_blank">Dallas Business Journal</a></h4>
							<p class="text-left">Align Capital Partners merges an add-on to its platform elevator company</p>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->




			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline
					">
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client1.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client2.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client3.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client4.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client5.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client6.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client7.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client8.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client9.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client10.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client11.jpg" alt="client" />
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<img class="img-fluid" src="/assets/RE/client12.jpg" alt="client" />
						</li>
						
						
					</ul>

				</div>
			</section>
			<!-- /Clients -->
			
			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato"></p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<%= form_for (Lead.new), html: { multipart: true } do |f| %> 
							<div class="col-md-8 col-sm-8">

								<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>
								
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
										<div id="contact_full_name" class="col-md-4" >
											<%= f.label :full_name %>
                			<%= f.text_field :full_name , class:"form-control", required: true %>
										</div>
										<div id="contact_email" class="col-md-4" >
											<%= f.label :email %>
                			<%= f.email_field :email, class:"form-control", required: true %>
										</div>
										<div id="contact_phone" class="col-md-4" >
											<%= f.label :phone %>
                			<%= f.text_field :phone , class:"form-control", required: true %>
										</div>
									</div>
									<div class="row">
										<div id="contact_company_name" class="col-md-4" >
											<%= f.label :company_name %>
                			<%= f.text_field :company_name , class:"form-control", required: true %>
										</div>
										<div id="contact_projetc_name" class="col-md-4" >
											<%= f.label :project_name %>
                			<%= f.text_field :project_name , class:"form-control", required: true %>
										</div>
										<div id="contact_department" class="col-md-4" >
											<%= f.label :department %>
            					<%= f.select :department, [[' ',' '],['Residential','residential'],['Commercial','commercial'],['Corporate','corporate'],['Hybrid', 'hybrid']], required: true %>
										</div>
									</div>
									<div class="row">
										<div id="contact_project_description" class="col-md-12" >
											<%= f.label :project_description %>
											<%= f.text_area :project_description, :cols => 54, :rows => 6, required: true %>
										</div>
									</div>

									<div class="row">
										<div id="contact_message" class="col-md-12" >
											<%= f.label :message %>
											<%= f.text_area :message, :cols => 54, :rows => 6, required: true %>											</div>
										</div>
									</div>	
								<%# =============================attachment file upload================================ %>
									<div class="row">
										<div class="col-md-12">
										<%= f.label :file %>
  										<%= f.file_field :file %>
										</div>
									</div>
								<%# =============================attachment file upload================================ %>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<%= submit_tag "Send Message" , class: 'btn btn-primary'  %><i class:"fa fa-check"></i>
										<%= raw recaptcha_tags %>
									</div>
								</div>
							<% end %>
						</div>
						
						<!-- /FORM -->
						<%# <%= image_tag Lead.first.file_attachment.url %> 


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<div id="map2" class="h-400 "></div>
								
							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Québec H4G 1W5</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(418) 555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->